.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 10px; 
}

.input-container {
  position: sticky;
  bottom: 0;
  padding: 10px;
  padding-bottom: 20px;
  border-top: 1px solid #ccc; /* Optional: a border for separation */
}

.user {
  background-color: lightgrey;
}